#pinContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.panel {
  height: 100%;
  width: 100%;
  position: absolute;
}
h1.resize{
  font-size: 5vh;
}
h2.resize{
  font-size: 4vh;
}
h3.resize{
  font-size: 3vh;
}
/* @media only screen and (max-width: 768px){
h1.resize{
  font-size: 12px;
}
h2.resize{
  font-size: 9px;
}
h3.resize{
  font-size: 6px;
}
}
@media only screen and (min-width: 769px)and (max-width: 1007px){
  h1.resize{
    font-size: 12px;
  }
  h2.resize{
    font-size: 9px;
  }
  h3.resize{
    font-size: 6px;
  }
  } */