body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', 'Kanit', sans-serif!important;
}
.thai{
  font-family: 'Kanit', sans-serif!important;
}
.particles-js-canvas-el{
  background-color: #042340;
}
.intro-head::before{
  content: "“ค่ายวิศวพัฒน์”\A";
  font-size: 50px;
  margin-left: 70px;
}
.interview-frame{
  height: 80vh;
}
#intro_paragraph{
  color: #ffffff;
  text-align: left;
}
.intro-head{
  font-size: 28px!important;
}
.intro-sub{
  font-size: 25px!important;
}
.subheading{
  font-size: 22px;
}
.bullet{
  color: #ffffff;
  font-size: 32px!important;
}
.h1{
  font-size: 40px;
}
.white{
  color: white;
}
.timeline-line-frame{
  width: 100%;
  height: 3px;
  margin: 0 auto;
}
.FAQ-Q{
  background-color: #2d6fad;
  color: white;
  width: 100%;
  text-align: center;
  padding: 30px 15px;
}
.FAQ-A{
  background-color: white;
  color: #2d6fad;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  font-size: 2vh;
}
#floating-button{
  padding: 1vh 10vw 1vh 2vw;
}
.interview-container{
  margin-right: 5vw !important;
  margin-top: 5vh !important;
  padding: 15px;
}
.interview-personal{
  font-size: 16px;
}
.interview-overall{
  font-size: 30px;
}
.interviewer{
  font-size: 26px;
}
/* style={{ width: "100%", height: "3px", padding: "0", backgroundColor: "white", }} */
@media only screen and (max-width: 768px){
  .interview-personal{
    display: none;
  }
  .interview-overall{
    font-size: 2vh;
    margin: 10px;
  }
  .interviewer{
    font-size: 1.5vh;
    margin: 5px;
  }
  .interview-frame{
    height: 30vh;
  }
  .interview-container{
    margin-top: 2vh !important;
    padding: 5px;
  }
  #floating-button{
    padding: 1vh 20vw 1vh 2vw;
  }
  .FAQ-Q-Text{
    font-size: 18px;
  }
  .intro-head{
    font-size: 20px!important;
  }
  .intro-sub{
    font-size: 16px!important;
  }
  .subheading{
    font-size: 1.2vh;
  }
  .intro-head::before{
    content: "“ค่ายวิศวพัฒน์”\A";
    white-space: pre;
    font-size: 28px;
    margin-left: 0px;
  }
  .bullet{
    font-size: 28px!important;
  }
  .h1{
    font-size: 28px;
  }
  .timeline-line-frame{
    width: 100%;
    margin: 150px 0%;
    transform: rotate(90deg);
    transform-origin: 50% 0%;
    height: 3px;
  }
  .fb-page{
    margin: 50px 0;
    width: "80vw"
  }
  
}
